

/*General*/
body {
	font-family: 'Lato', 'Sans Serif';
  background-color: #f3f1f1;
}

h2 {
  font-weight: bold;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-col {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  padding: 10px;
}

.card-box {
  background-color: #fff;
  border: 1px solid lightgray;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 18px 3px rgba(214,207,214,1);
  -moz-box-shadow: 0px 0px 18px 3px rgba(214,207,214,1);
  box-shadow: 0px 0px 18px 3px rgba(214,207,214,1);
  margin: 20px 0;
  padding: 20px;
  width: 100%;
  max-width: 100%;
}

.border-bottom {
  border-bottom: groove 2px  lightgray;
  padding-bottom: 10px;
}

/*Navigation Styles*/
.nav-link.active,
.nav-link:focus,
.nav-link:active {
  background-color: #F18D9E;
  border-radius: 4px;
}

/*Main Page sections*/
#main {
  position: relative;
  top: 60px;
}

/*Header section*/
#header {
  width: 100%;
  max-width: 100%;
  padding: 20px;
}

.biopic {
  border-radius: 50%;
}

/*Work Experience*/
#workExperience {

}

/*Projects*/

.project-entry {
  width: 30%;
  max-width: 30%;
  border: 1px solid lightgray;
  border-radius: 4px;
  margin: 20px;
  padding: 20px;
  align-items: center;
}

.project-entry img{
  width: 100%;
  max-width: 100%;
  margin: auto;
}

/*Education*/
#education {

}

/*Google Map*/
#map {
  display: block;
  height: 100%;
  /*margin: 0 5%;*/
}

#mapDiv {
  height: 400px;
  width: 100%;
/*  padding-bottom: 5%;*/
}

/*Footer (Let's connect)*/
#lets-connect {
  text-align: center;
  width: 100vw;
}

#footerContacts {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #fff;
  background-color: #343a40;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

 .contact-prefix {
    font-weight: bold;
    padding-right: 5px;
 }

 .contact-prefix:after {
    content: ':';
 }



